

.container{
    width:100%;
    height: calc(100dvh-58px);
    display: flex;
    flex-direction: column;

    margin-bottom:58px;

    
}

.container>h1{
    position: sticky;
    top:0;
    left:0;

    background-color: white;
    text-align: center;
    padding: 20px; 
    font-size: larger;
    font-weight: 700;

}

.list{
    display:grid;
    grid-template-columns: 70px 1fr 40px;
    padding:8px;
    gap:5px;

    align-items: center;
}

