
.mapContainer{
    width: 100%;
    height: calc(100dvh - 58px);
}

.searchBar{
    width: 95%;
    border-radius: 25px;
    background-color: #ffffff;
    position: absolute;
    top:10px;
    left:2.5%;
    z-index: 100;
    padding: 10px;
}

.myLocation{
    position: absolute;
    z-index: 100;
    bottom: 70px;
    left:12px;
    background-color: #ffffff;
    padding:8px;
    border-radius: 100px;
    border: 1px solid lightgrey;
}

.refresh{
    position:absolute;
    z-index: 100;
    bottom: 70px;
    right:12px;
    background-color: #ffffff;
    padding:8px;
    border-radius: 100px;
    border: 1px solid lightgrey;
}