.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    font-family: 'NanumSquareRound';
    text-align: center;
}

@media (min-width:800px) {
    .container {
        width: 800px;
    }

    .elementList {
        width: 70%;
    }
    .orderList {
        width: 70%;
    }
}

.nicknameinput {
    width: 80%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}


.photoinput {
    width: 100px;
    height: 40px;
    background-color: #FF914D;
    border-radius: 5px;
    font-size: smaller;
}

.elementList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width:80%;
}

.elementList>div {
    background-color: #ff6c1a;
    border-radius: 5px;
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.orderList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 25px;
    width: 80%;
}

.orderList>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tempPlace {
    background-color: #FF914D;
    opacity: 0.4;
    width: 70%;
    height: 50px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.binaryInput {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;

    /* display: flex;
    flex-direction: column;
    gap:25px;
    justify-content: center;
    align-items: center;
    margin: 20px 0; */
}

.binaryInput>div, .result>div{
    background-color: #FF914D;
    border-radius: 5px;
    font-size: larger;
    padding: 10px;
    word-break: keep-all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingCircle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #FF914D;
}

.result {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(80px);
    gap:25px;
    margin: 20px 0;
    font-size: larger;
}