
.profile{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    gap:6px;
    position: relative;
}

.profile>img{
    width:100px;
    border-radius: 100px;
    background-color: lightgrey;
}

.profile>div{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}

.wishlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin-bottom: 58px;
}

.wishlist>h2{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 1px 0;
    position: sticky;
    top:0;
    left:0;
    background-color: #ffffff;
}

.wishItem{
    display: grid;
    grid-template-columns: 120px auto 45px;
    align-items: center;
    gap:8px;
    padding:10px;
    border-bottom:1px solid lightgrey;
}

/* .wishItem:last-child{
    border-bottom: 0;
} */

.wishItem>img{
    width:120px;
    height:80px;
    background-color: rgb(229, 255, 151);
}

.wishItem>div{
    display: flex;
    flex-direction: column;
    gap:8px;
}
